@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

h1 {
    font-size: 100px;
}

h2 span {
    transition: ease-in-out;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

button {
    height: 60px;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
}

.add {
    background-color: #30b052;
    width: 100px;
}

.start-pause {
    background-color: #2548ba;
    width: 250px;
}

.reset {
    background-color: #fff;
    color: #d1111e;
    width: 100px;
}

.add_time {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    background-color: #b8babf;
    margin-top: 10px;
    margin-left: 270px;
    display: inline-block;
    width: 60%;
    height: 45px;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

.add_time_button {
    background-color: #c72227;
    font-family: 'Roboto',sans-serif;
    width: 45px;
    margin-left: 10px;
    height: 45px;
    border-radius: 8px;
    padding: 0;
    font-size: 25px;
    box-sizing: border-box;
}